.hide {
    display: none;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
}

.tab-bar {
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    border-top: 1px solid #ccc;
}
.tab-bar div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}